* {
    box-sizing: border-box;
}


.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0% 4px; 
    margin-top: 110px; 
}

/* Four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding-right: 7px;  
}

.row:hover img.focus {
    opacity: 9;
    /* transform: scale(.95);    */
}

.row img.focus:hover {
    opacity: .8;
    transition: .6s;
}

/* FOOTER */

div#footer {
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

div#footer h6 {
    color: #808080;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    display: inline;
    font-size: 16px;
}